<% include partials/headsent %>
<% include partials/header1 %>
<div class="container">
    <h1 style="text-align: center; margin-top: 15%;">Unfortunatelly, there has been an error occured!</h1>
    <h2 style="text-align: center; margin-top: 5%;">Please try to submit your form again.</h2>
</div>


<% include partials/footer %>