<% include partials/headhome %>
<% include partials/header1 %>

	<div style="margin-top: 7%;"  class="container">
		<div class="jumbotron">
  		<h1>Leaflet Care for your business</h1>
  		<h3>The best way publicise your business.</h3>
  	<!--	 <p class="paragraph"></p><br>-->


			<!--<img class="img-responsive" src="https://farm4.staticflickr.com/3005/2808331148_5def499fc9.jpg"></img>-->


		</div>

  </div>
  <a class="hidden" href="/">, leaflet, Leaflet distribution, Leaflet distribution Hertfordshire, Leaflet service,  Leaflet service Hertfordshire, Leaflet service Essex, Leaflet service, family run business, leaflet, your customer, leaflet care</a>

 <% include partials/footer %>



