body {
    background: url("/leafletContact.jpg") no-repeat fixed center;
    background-size: cover;
	font-family: 'Raleway', sans-serif;
	color: #000;
	
	/*max-width: inherit;*/
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4),
				 0px 0px 1px rgba(0, 0, 0, 0.1),
				 0px 0px 1px rgba(0, 0, 0, 0.1);
}		

nav {
	font-weight: normal;
}